@font-face {
  font-family: 'reco';
  src: url('./assets/typeface/Recoleta-RegularDEMO.otf');
}

@font-face {
  font-family: 'playtoy';
  src: url('./assets/typeface/playtoy.woff2');
}

:root {
  --text_temp: #F3F7EC;
  --overlay_temp: rgb(60, 91, 111, 0.75);
  --bg_temp: #153448;
  --bg2_temp: #3C5B6F;

  --bg: rgb(18, 18, 18);
  --bgTran: rgba(18, 18, 18, 0.55);
  --text: #efe9d3;
  --text2: rgba(239, 233, 211, 0.55);
  --accent1: #d2c13b;
  --accent2: #c73230;

  --yellow: #f1bd3b;
  --orange: #f36b17;
  --pink: #e515a9;
  --blue: #3b50ed;
  --cyan: #0eb2b1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
:root::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
:root {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: var(--bg);
  color: var(--text);
  font-family: 'reco'; 
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 2.8em;
  line-height: 1.1;
  margin: 0;
}

h2 {
  font-size: 2em;
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 1.2em;
}

/**
* component@ StaticNoise
*/

.staticNoise {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  z-index: 90;
  overflow: hidden;
  pointer-events: none;
  background: transparent url('./assets/staticNoise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: staticNoise-animation 0.2s infinite;
  opacity: 0.9;
  visibility: visible;
}

@keyframes staticNoise-animation {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}

/****/

/**
* component@ Navbar
*/

.navbar {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  margin: 2em 2em;
  width: calc(100% - 4em);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.island {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 8px;
  border: 1px solid rgba(239, 233, 211, 0.075);
  border-radius: 16px;
  background-color: transparent;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.0),
                    0 4px 8px 4px rgba(0, 0, 0,0.33),
                    0 0 0 1px rgba(0, 0, 0, 0.0);
}

.island button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'reco';
  font-size: 16px;
  padding: 8px 8px;
  border: 1px solid rgba(239, 233, 211, 0.075);
  border-radius: 8px;
  background-color: var(--bgTran);
  transition: background-color 0.3s;
}
.island button svg {
  color: var(--text);
}
.island button:hover {
  background-color: rgb(36, 36, 36);
}

.island .tooltip {
  position: fixed;
  margin-top: -112px;
  padding: 6px;
  border: 1px solid rgba(239, 233, 211, 0.1);
  border-radius: 8px;
  font-family: 'reco';
  font-size: 12px;
  color: var(--text);
  background-color: transparent;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.island .activePage svg {
  color: var(--yellow);
}
.island .activePage .tooltip {
  color: var(--yellow);
  border: 1px solid rgba(210, 193, 59, 0.2);
}

.scroll-down {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px 8px;
  border: 1px solid rgba(239, 233, 211, 0.075);
  border-radius: 16px;
  background-color: transparent;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.0),
                    0 4px 8px 4px rgba(0, 0, 0,0.33),
                    0 0 0 1px rgba(0, 0, 0, 0.0);
}

.scroll-down button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px;
  border: 1px solid rgba(239, 233, 211, 0.075);
  border-radius: 8px;
  background-color: var(--bgTran);
  transition: background-color 0.3s;
}
.scroll-down button svg {
  color: var(--text);
}
.scroll-down button:hover {
  background-color: rgb(36, 36, 36);
}

.scroll-down .tooltip {
  position: fixed;
  margin-top: -112px;
  padding: 6px;
  border: 1px solid rgba(239, 233, 211, 0.1);
  border-radius: 8px;
  font-family: 'reco';
  font-size: 12px;
  white-space: nowrap;
  color: var(--text);
  background-color: transparent;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

/****/

/**
* component@ HomePage 
*/

.hp .blob-blur-bg {
  z-index: -9999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1.0;
  pointer-events: none;
  /* 
  filter: blur(64px);
  -webkit-filter: blur(64px);
  */ 
  animation: 3s ease-in-out noShowToShow forwards;
}
.blob-blur-bg svg {
  scale: 1.2;
}

@keyframes noShowToShow {
  0% {
    opacity: 0.0;
  } 
  100% {
    opacity: 1.0;
  }
}

.hp .header {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hp .header .titleImg {
  position: absolute;
  top: 0;
  margin: 4em 4em;
  width: 100%;
  max-width: 600px;
}

.hp .header .bunnyImg {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1.0;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  transition: filter 0.75s, -webkit-filter 0.75s;
  animation: 1s ease-in-out slideInFromBottom forwards;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

/****/

/**
* component@ AboutPage
*/

.ap .gridBackground {
  z-index: -900;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  opacity: 0.5;
  overflow: hidden;
  pointer-events: none;
}
.ap .gridBackground::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(ellipse at center, transparent 50%, black);
  pointer-events: none;
}

.ap .gridBackground .columns {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}
.ap .gridBackground .rows {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.ap .content {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  max-width: 656px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  text-align: center;
  overflow: hidden;
}

.ap .content span {
  font-size: 1.2em;
  color: var(--text);
}

.ap .content .header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.ap .content .header h1 {
  margin-top: 240px;
  margin-bottom: 2em;
}

.ap .lamp {
  opacity: 0.8;
  position: absolute;
  margin-top: -240px;
  align-self: center;
  width: 640px;
  height: 3px;
  border-top: 0.1px solid var(--bg);
  border-left: 0.1px solid var(--bg);
  border-right: 0.1px solid var(--bg);
  background-color: rgb(241, 189, 59);
  box-shadow: 0px -16px 64px 8px rgb(123, 97, 30);
  animation: 1s ease-in-out growLight forwards
}

.ap .lamplight {
  opacity: 1.0;
  position: absolute;
  margin-top: -240px;
  z-index: -1;
  align-self: center;
  width: 640px;
  height: 3px;
  background-color: rgb(241, 189, 59);
  filter: blur(20px);
  -webkit-filter: blur(20px);
  box-shadow: 0px 80px 160px 48px rgb(241, 189, 59);
  animation: 1s ease-in-out growLight forwards
}

@keyframes growLight {
  0% {
    width: 240px;
  } 
  100% {
    width: 640px;
  }
}

.ap .content .skills img {
  width: 100%;
  height: 100%;
}

/****/

/**
* component@ WorksPage
*/

.wp .gridBackground {
  z-index: -900;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  opacity: 0.25;
  overflow: hidden;
  pointer-events: none;
}
.wp .gridBackground::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /*
  background: radial-gradient(ellipse at center, transparent 25%, black);
  */
  background: radial-gradient(ellipse at center, transparent 50%, black);
  pointer-events: none;
}

.wp .gridBackground .columns {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}
.wp .gridBackground .rows {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.wp .info {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.wp .content {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 656px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  text-align: center;
}

.wp .content span {
  font-size: 1.2em;
}

.wp .content p {
  font-size: 1.2em;
  color: var(--text);
}

.wp .content .marquee {
  z-index: 999;
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  height: 64px;
  overflow: hidden;
}

.wp .content .marquee div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.wp .content .marquee div span {
  font-size: 1.2em;
}

.wp .showcase-container {
  padding: 16px;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px; 
  overflow-x: hidden;
  overflow-y: auto;
}

.wp .showcase-container .showcase {
  width: 100%;
}

.wp .showcase-container .showcase:nth-child(even) {
  transform: translateY(48px);
}

/****/

/**
* component@ TempLanding
*/

#tempLanding {
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'reco';
  line-height: 2;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: var(--bg_temp);
  color: var(--text_temp);
}

#tempLanding h1 {
  font-size: 4.8em;
}

#tempLanding h2 {
  font-size: 2.4em;
}

#tempLanding p {
  font-size: 1.2em;
}

#tempLanding button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

#tempLanding header {
  padding: 1.2em 2.4em;
  width: calc(100% - 4.8em);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#tempLanding header span {
  font-size: 2.4em;
}

#tempLanding header .socials {
  display: flex;
  flex-direction: row;
  gap: 1.2em;
}

#tempLanding header .socials button {
  z-index: 999;
  border: 1px solid var(--overlay_temp);
  color: var(--text_temp);
  background-color: rgba(255, 255, 255, 0.0);
  transition: border-color 1s, background-color 1.0s, color 0.5s;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

#tempLanding header .socials button:hover {
  background-color: var(--text_temp);
  color: var(--bg_temp);
}

#tempLanding main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.2em 2.4em;
  width: calc(100% - 4.8em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tempLanding main h1 {
  margin: 0;
  line-height: 1;
}

#tempLanding main h2 {
  margin-top: 0;
}

#tempLanding main p {
  margin-top: 2em;
  text-align: center;
}

#tempLanding #bgNoiseSvg {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  margin: 0;
  padding: 0;
  opacity: 1.0;
  pointer-events: none;
}

#tempLanding #starSvg {
  z-index: -999;
  position: fixed;
  top: -25vh;
  right: -50vh;
  height: 150vh;
  width: auto;
  margin: 0;
  padding: 0;
  filter: blur(80x);
  -webkit-filter: blur(80px);
}

/****/

@media screen and (width <= 511px) { .blob-blur-bg svg { scale: 0.4;} }
@media screen and (width > 511px) and (width <= 611px) { .blob-blur-bg svg { scale: 0.5;} }
@media screen and (width > 611px) and (width <= 711px) { .blob-blur-bg svg { scale: 0.6;} }
@media screen and (width > 711px) and (width <= 811px) { .blob-blur-bg svg { scale: 0.7; } }
@media screen and (width > 811px) and (width <= 1220px) { .blob-blur-bg svg { scale: 0.8; } }
@media screen and (width > 1220px) and (width <= 1420px) { .blob-blur-bg svg { scale: 0.9; } }
@media screen and (width > 1420px) and (width <= 1620px) { .blob-blur-bg svg { scale: 1.0; } }
@media screen and (width > 1620px) and (width <= 1820px) { .blob-blur-bg svg { scale: 1.1; } }

@media (hover: none) {
  .island button:hover {
    background-color: var(--bgTran);
  }

  .island .tooltip {
    opacity: 0;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }

  .hp .socials button:hover {
    background-color: transparent;
  }

  .scroll-down button:hover {
    background-color: transparent;
  }

  .scroll-down .tooltip {
    opacity: 0;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
}

@media screen and (max-width: 720px) {

  h1 {
    font-size: 2.2em;
    line-height: 1.1;
    margin: 0;
  }
  
  h2 {
    font-size: 1.6em;
    margin: 0;
  }
  
  h3 {
    margin: 0;
    font-size: 1.2em;
  }

  /**
  * component@ Navbar_mobile
  */

  .navbar {
    margin: 2em 1em;
    width: calc(100% - 2em);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .island {
    gap: 6px;
    padding: 6px 6px;
    border-radius: 16px;
  }

  .island button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 6px 11px;
    border: 1px solid rgba(239, 233, 211, 0.075);
    border-radius: 10px;
    color: var(--text);
    font-size: 10px;
    letter-spacing: 0.5px;
  }
  .island button svg {
    width: 22px;
    height: 22px;
  }
  .island button:nth-child(1) svg {
    width: 20px;
    height: 22px;
  }
  .island button:nth-child(2) svg {
    width: 21px;
    height: 22px;
  }

  .scrolldown-mbl {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 6px 6px;
    border: 1px solid rgba(239, 233, 211, 0.075);
    border-radius: 10px;
    background-color: transparent;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.0),
                      0 4px 8px 4px rgba(0, 0, 0,0.33),
                      0 0 0 1px rgba(0, 0, 0, 0.0);
  }

  .scrolldown-mbl button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 6px 11px;
    border: 1px solid rgba(239, 233, 211, 0.075);
    border-radius: 10px;
    color: var(--text);
    font-size: 10px;
    letter-spacing: 0.5px;
    text-align: center;
    display: flex;
    font-family: 'reco';
    background-color: var(--bgTran);
  }

  /****/

  /**
  * component@ HomePage 
  */

  .hp .header .titleImg {
    position: absolute;
    top: 0;
    margin: 3em 2em;
    width: calc(100% - 4em);
  }

  .hp .header .bunnyImg {
    width: 100%;
    height: 100%;
  }

  /****/

  /**
  * component@ AboutPage
  */

  .ap .content {
    margin-left: 2em;
    margin-right: 2em;
  }

  .ap .content .header h1 {
    margin-top: 120px;
    margin-bottom: 1em;
    scale: 0.8;
  }
  
  .ap .lamp {
    margin-top: -160px;
    scale: 0.4;
  }
  
  .ap .lamplight {
    margin-top: -160px;
    scale: 0.4;
  }
  
  /****/

  /**
  * component@ WorksPage
  */
  
  .wp .content {
    margin-left: 2em;
    margin-right: 2em;
  }

  .wp .content span {
    font-size: 1.2em;
    color: var(--text);
  }

  .wp .content p {
    font-size: 1.2em;
    color: var(--text);
  }

  .wp .content .marquee {
    margin-top: 0.8em;
    margin-bottom: 1.2em;
    height: 320px;
  }

  .wp .showcase-container {
    padding: 4px;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px; 
    overflow-x: hidden;
    overflow-y: auto;
  }

  .wp .showcase-container .showcase {
    width: 100%;
  }

  .wp .showcase-container .showcase:nth-child(even) {
    transform: translateY(0px);
  }

  /****/

  /**
  * component@ TempLanding_mobile
  */

  #tempLanding h1 {
    font-size: 3.2em;
  }
  
  #tempLanding h2 {
    font-size: 1.6em;
  }
  
  #tempLanding p {
    font-size: 0.8em;
  } 

  #tempLanding button {
    padding: 0.3em 0.6em;
    font-size: 0.8em;
  }

  #tempLanding header {
    padding: 0.8em 1.6em;
    width: calc(100% - 3.2em);
  }

  #tempLanding header span {
    font-size: 1.6em;
  }

  #tempLanding header .socials {
    gap: 0.8em;
  }

  #tempLanding main {
    padding: 0.8em 1.6em;
    width: calc(100% - 3.2em);
  }

  #tempLanding main p {
    margin-top: 1.6em;
  }

  #tempLanding #bgNoiseSvg {
    opacity: 0.6;
  }
  
  #tempLanding #starSvg {
    top: -25vh;
    right: -50vh;
    height: 150vh;
  }

  /****/

}