/**
* component@ Info
*/

.info {
  margin: 1em 1em;
  padding: 1em;
  background-color: transparent;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.075);
  border-radius: 16px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.0),
                    0 8px 16px 8px rgba(0, 0, 0,0.55),
                    0 0 0 1px rgba(0, 0, 0, 0.0);
}

.contact {
  text-align: center;
}

.contact h3 {
  color: var(--yellow);
}

.socials {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.socials button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 8px 8px;
  background-color: transparent;
  transition: background-color 0.3s;
}
.socials button:hover {
  background-color: rgb(45, 45, 45);
}
.socials button svg {
  color: var(--text);
}

.colophon {
  margin: 1em;
  text-align: center;
  line-height: 1.2;
}
.colophon span {
  font-size: 1em;
  color: var(--text2);
}
.colophon p {
  margin: 8px;
  font-size: 1em;
  color: var(--text);
}
.colophon p img {
  margin-bottom: -2px;
  width: 16px;
  height: 16px;
}

.navbar-spacer {
  padding: 2em 1em;
}

@media screen and (max-width: 720px) {
  .info {
    margin: 1em 1em;
    padding: 1em;
    background-color: transparent;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.075);
    border-radius: 16px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.0),
                      0 8px 16px 8px rgba(0, 0, 0,0.55),
                      0 0 0 1px rgba(0, 0, 0, 0.0);
  }

  .info .contact {
    text-align: center;
  }

  .info .contact h3 {
    color: var(--yellow);
  }

  .hp .socials {
    gap: 16px;
  }

}