#container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

header {
  padding: 1.2em 2.4em;
  width: calc(100% - 4.8em);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header span {
  font-size: 2.4em;
}

header .socials {
  display: flex;
  flex-direction: row;
  gap: 1.2em;
}
header .socials button {
  z-index: 999;
  border: 1px solid var(--overlay);
  color: var(--text);
  background-color: rgba(255, 255, 255, 0.0);
  transition: border-color 1s, background-color 1.0s, color 0.5s;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
header .socials button:hover {
  background-color: var(--text);
  color: var(--bg);
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.2em 2.4em;
  width: calc(100% - 4.8em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h1 {
  margin: 0;
  line-height: 1;
}
main h2 {
  margin-top: 0;
}
main p {
  margin-top: 2em;
  text-align: center;
}

#bgNoiseSvg {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  margin: 0;
  padding: 0;
  opacity: 1.0;
  pointer-events: none;
}

#starSvg {
  z-index: -999;
  position: fixed;
  top: -25vh;
  right: -50vh;
  height: 150vh;
  width: auto;
  margin: 0;
  padding: 0;
  filter: blur(80x);
  -webkit-filter: blur(80px);
}

@media screen and (max-width: 600px) {
  header {
    padding: 0.8em 1.6em;
    width: calc(100% - 3.2em);
  }

  header span {
    font-size: 1.6em;
  }

  header .socials {
    gap: 0.8em;
  }

  main {
    padding: 0.8em 1.6em;
    width: calc(100% - 3.2em);
  }

  main p {
    margin-top: 1.6em;
  }

  #bgNoiseSvg {
    opacity: 0.6;
  }
  
  #starSvg {
    top: -25vh;
    right: -50vh;
    height: 150vh;
  }
}